/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #E7E7EB;
}

body {
    font-family: 'Raleway', sans-serif;
}

.loader {
    width: 100%;
    text-align: center;
}

.loader .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.loader .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.loader .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

@media (max-width: 1200px) {
    .content {
        padding: 20px 25px !important;
    }
    .container {
        height: 100vh !important;
    }
}

@media (max-width: 990px) {
    .container {
        grid-template-columns: 300px 1fr !important;
        height: 100vh !important;
    }
    .container .sidebar-content {
        width: 300px !important;
        height: 100vh !important;
    }
    .sidebar .icon-weather p {
        font-size: 1.5em !important;
    }
    .card-content {
        grid-template-columns: repeat(3, 1fr) !important;
    }
}

@media (max-width: 479px) {
    .container {
        display: flex !important;
        flex-direction: column !important;
    }
    .container .sidebar-content {
        position: relative !important;
        width: 100% !important;
        height: 100vh !important;
    }
    .sidebar .icon-weather p {
        font-size: 1.5em !important;
    }
    .card-content {
        padding: 0px 25px;
        grid-template-columns: repeat(2, 1fr) !important;
    }
    .info-content {
        grid-template-columns: 1fr !important;
    }
    .icon-weather::after {
        z-index: 10 !important;
    }
    .sidebar {
        height: 100vh !important;
    }
}